.book-list-div{
    background-color: pink;
    margin: 100px 200px 300px 200px;
    padding: 20px 60px;
    border-radius: 30px;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    border-radius: 30px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: grey;
    border-radius: 30px;
}
.list-group-item{
    height: 50px;
    margin-left: auto;
  margin-right: auto;
}

.list-group-item button{
    margin: 0% 10% 0% 10%;

}
.table tr{
    height: 50px;
    background-color: grey;
}
.table tr td{
    height: 100%;
}
